<div class="oneBlog d-flex flex-column">
    <div class="m-4 border border-dark border-4">
        <div class="bg-success d-flex flex-row p-2">
            <h4 class="title text-light">{{blog.title}}</h4>
            <h6 class="text text-light ms-auto">Posted by {{blog.user.name}} on {{ format_date blog.date }}</h6>
        </div>
        <div class="p-3">
            <p class="oneBlogP">
                    {{blog.contents}}
            </p>
        </div>
    </div>
    
    {{#unless blog.comments.length}}
    <div id="commentBox" class="commentBox d-flex flex-column p-3">
        <div class="m-1 border border-dark border-4">
            <div class="bg-success d-flex flex-row p-2">
                <h4 class="text-light">
                    Comment
                </h4>
            </div>
            <div class="p-3">
                <textarea class="commentText w-100">
                    
                </textarea>
                <br><br>
                <button class="commentBtn w-100 rounded" data-id="{{blog.id}}">
                SUBMIT
                </button>
            </div>
        </div>
    </div>
    {{/unless}}
    
    {{#if blog.comments.length}}
    {{#each blog.comments as |comment|}}
    {{#if @last}}
    <div class="postedComment d-flex flex-column p-3">
        <div class="m-1 border border-dark border-4 bg-">
            <div class="topBar bg-success d-flex flex-row p-2 h-">
            </div>
            <p class="commentContent p-3">
                {{comment.content}}
            </p>
            <p class="p-3">
                -- {{comment.user.name}}, {{ format_date comment.date}}
            </p>
        </div>
    </div> 
    {{/if}}
    {{/each}}
    {{/if}}
</div>


<script src="/js/blog.js"></script>
