<div class="oneBlog flex-column">
    <div class="m-4 border border-dark border-4">
        <div class="bg-success d-flex flex-row p-2">
            <h4 class="title text-light">{{blog.title}}</h4>
            <h6 class="text text-light ms-auto">Posted by {{users.name}} on {{ format_date blog.date }}</h6>
        </div>
        <div class="p-3">
            <p class="oneBlogP">
                    {{blog.contents}}
            </p>
        </div>
    </div>

    {{#each blog.comments as |comment|}}
    <div class="postedComment flex-column p-3">
        <div class="m-1 border border-dark border-4 bg-">
            <div class="topBar bg-success d-flex flex-row p-2 h-">
            </div>
            <p class="commentContent p-3">
                {{comment.content}}
            </p>
            <p class="p-3">
                -- {{comment.user.name}}, {{ format_date comment.date}}
            </p>
        </div>
    </div>
</div>   
