<div class="blogList p-2">
    {{#each blogs as |blog|}}
    <div class="blog m-4 border border-dark border-4">
        <div class="bg-success d-flex flex-row p-2">
            <h4 class="eachBlogTitle text-light" data-id="{{blog.id}}" data-title="{{blog.title}}" data-contents="{{blog.contents}}" data-user="{{user.name}}" data-date="{{ format_date blog.date}}">{{blog.title}}</h4>
            <h6 class="post text-light ms-auto">Posted by {{user.name}} on {{ format_date blog.date }}</h6>
        </div>
        <div class="p-3">
            <p class="paragraph">
                {{blog.contents}}
            </p>
        </div>
    </div>
    {{/each}}
</div>
<div class="oneBlog flex-column">
    <div class="m-4 border border-dark border-4">
        <div class="bg-success d-flex flex-row p-2">
            <h4 class="title text-light"></h4>
            <h6 class="text text-light ms-auto"></h6>
        </div>
        <div class="p-3">
            <p class="oneBlogP">
                    
            </p>
        </div>
    </div>

    <div class="commentBox flex-column p-3">
        <div class="m-1 border border-dark border-4">
            <div class="bg-success d-flex flex-row p-2">
                <h4 class="text-light">
                    Comment
                </h4>
            </div>
            <div class="p-3">
                <textarea class="commentText w-100">
                    
                </textarea>
                <br><br>
                <button class="commentBtn w-100 rounded">
                SUBMIT
                </button>
            </div>
        </div>
    </div>

    {{!-- <div class="postedComment flex-column p-3">
        <div class="m-1 border border-dark border-4 bg-">
            <div class="topBar bg-success d-flex flex-row p-2 h-">
            </div>
            <p class="commentContent p-3">

            </p>
            {{#if logged_in}}
            <p>
                -- {{user.name}} 
            </p>
            {{/if}}
        </div>
    </div> --}}
</div>
{{#if logged_in}}
<script src="/js/script.js"></script>
{{/if}}